

@mixin wh($width, $hieght) {
    width: $width;
    height: $hieght;
}

@mixin sc($size,$color) {
    font-size: $size;
    color: $color;
}

// height 和 line-height 文字垂直居中
@mixin lh($height) {
    height: $height;
    line-height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {  
	font: #{$size}/#{$line-height} $family;
}

@mixin borderRadius {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin allCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@mixin vCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin hCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin leftTop {
    position: absolute;
    left: 0;
    top: 0;
}

@mixin btmRight {
    position: absolute;
    right: 0;
    bottom: 0;
}

// flex布局和子元素对齐方式
@mixin fj($type: space-between) {
    display: flex;
    justify-content: $type;
}

// ellipsis
@mixin ellipsis () {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}